.container-fluid {
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
}

.content {
    width: calc(100% - 270px);
    overflow-x: hidden;
}

.sidebar-mobile {
    position: fixed;
    transition: 0.4s;
    z-index: 3;
    background: #f5f5fa;
    top: 50px;
}

.content-mobile {
    width: calc(100%);
    overflow-x: hidden;
}

.button-hide {
    position: absolute;
    z-index: 3;
    right: -40px;
}

.toggler-sidebar {
    transform: translateX(-100%);
}
