.container-fluid {
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
}

.content {
    width: calc(100% - 270px);
    overflow-x: hidden;
}

.sidebar-mobile {
    position: fixed;
    transition: 0.4s;
    z-index: 3;
    background: #f5f5fa;
    top: 50px;
}

.content-mobile {
    width: calc(100%);
    overflow-x: hidden;
}

.button-hide {
    position: absolute;
    z-index: 3;
    right: -40px;
}

.toggler-sidebar {
    transform: translateX(-100%);
}

.chat-container {
    position: fixed;
    z-index: 99999;
    bottom: 45px;
    right: 30px;

    .contain_icon_chat:not(:last-child) {
        margin-bottom: 15px;
    }
}

.contain_icon_chat {
    user-select: none;
    background: #4caf50;
    width: 60px;
    height: 60px;
    border-radius: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
        background: #278da7;
    }
    color: white;

    // &::before {
    //     content: '';
    //     border-width: 15px 30px;
    //     border-style: solid;
    //     border-color: transparent transparent transparent #fff;
    //     position: absolute;
    //     right: 12px;
    // }
}

.wrap_chat {
    position: absolute;
    background: white;
    width: 400px;
    height: 550px;
    bottom: 10px;
    right: 75px;
    border-radius: 8px;
}
.wrap_chat.hide {
    display: none;
}

.number_red_message {
    position: absolute;
    background-color: rgb(247, 66, 66);
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 500;
    min-width: 20px;
    padding: 2px 0;
    right: 0px;
    bottom: -4px;
    text-align: center;
}

.notifi_message {
    position: absolute;
    background-color: #34bed6;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    min-width: 20px;
    padding: 2px 5px;
    border-radius: 8px;
    left: -220px;
    bottom: 2px;
    text-align: center;
}
// width: 0;
// height: 0;
// border-left: 50px solid transparent;
// border-right: 50px solid transparent;
// border-top: 100px solid black;
