.separate {
    margin-bottom: 20px;
    padding: 12px 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.top_branch_slide {
    width: 1280px;
    height: 450px;
    background-color: #fff;
    padding: 20px;
}

.wrap_swiper {
    display: flex;
    justify-content: center;
}

.title {
    font-weight: 700;
    font-size: 2.5rem;
    color: #5b5b5b;
    transition: 0.3s ease;
    &:hover {
        color: #2ac37d;
        transform: scale(1.15);
    }
}

.block_slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue_gradient {
    background: linear-gradient(rgba(255, 255, 255, 0) 22.49%, rgb(255, 255, 255) 73.49%),
        linear-gradient(264.03deg, rgb(220, 229, 251) -10.27%, rgb(234, 236, 255) 35.65%, rgb(213, 236, 253) 110.66%);
}
