@media (max-width: 40em){
    .nav_link_logo {
        margin-right: 20px;
        position: relative;
        &:hover .logo_number {
            color: var(--bs-link-hover-color);
        }
    }
}

.nav_link_logo {
    margin-right: 20px;
    position: relative;
    &:hover .logo_number {
        color: var(--bs-link-hover-color);
    }
}