.wrapper {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    background: #f3f3f3;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.background-wrap {
    width: 100%;
    height: 50%;
    background: var(--btn-color);
    padding: 40px 25px;
}
.background-wrap.quarter {
    height: 17%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-wrap {
    width: 100%;
    height: 83%;
    position: relative;
}

.cart-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.start-chat {
    width: 80%;
    height: 35%;
    position: absolute;
    left: 10%;
    top: -20px;
    background: #fff;
    border-left: 5px solid var(--btn-color) !important;
    border-radius: 5px;
}

.input-chat {
    height: 100%;
    width: 100%;
}

.btn-connect {
    width: 85%;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #03a84e;
    border-color: #196412;
    background-color: #03a84e;
    color: #ffffff;

    &:hover {
        background: #278da7;
    }
}

.mid_section {
    height: 87.5%;
    background: rgb(222, 222, 228);

    position: sticky;
    overflow-y: scroll;

    .chat-messages {
        margin-bottom: 6px;
    }
    .message {
        padding: 1px 6px;
        width: auto;
        display: flex;
        flex-direction: row;
    }
    .message.self {
        justify-content: end;
    }
    .message-data {
        border-radius: 20px;
        padding: 8px 15px 5px 15px;
        background-color: #0084ff;
        color: white;
        max-width: 65%;
        min-height: 40px;
        word-wrap: break-word;
    }
    .message-data.not_self {
        background: rgb(183, 183, 187);
        border-top-left-radius: 6px;
    }
}
.bot_section {
    height: 13%;
    width: 100%;
    background: linear-gradient(87deg, #11cdef 0, #1171ef 100%) !important;

    .chat_form {
        width: 80%;
        display: flex;
        height: 40px;
        background-color: #f5f5f5;
        border-radius: 50px;
        padding: 5px 5px 5px 15px;
        position: relative;
        input {
            outline: none;
            background-color: #f5f5f5;
            border: 0px;
            flex: 1 1 0%;
            max-width: 90%;

            &::placeholder {
                color: rgb(40, 170, 61);
            }

            &:not(:placeholder-shown) ~ .btn-search {
                color: black;
            }
        }
    }
    .button_send {
        .btn-search {
            outline: none;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 0;
            margin-left: 10px;
            background-color: var(--btn-color);
            color: white;
            cursor: pointer;
            &:active {
                background-color: rgba(79, 155, 191, 0.6);
            }
        }
    }
}
