@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --primary: #fe2c55;
    --black: #000;
    --text-color: #333;
    --white: #fff;

    --font-family: 'Nunito', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --active-font: #ff7526;

    --default-layout-header-height: 88px;
    --default-layout-width: 1440px;

    --btn-color: #4caf50;
    // --swiper-navigation-color: blue;
    // --swiper-theme-color: red;
    --disabled-color: #9c9c9c;
}

.text-theme {
    color: #4caf50;
}
.bg-theme {
    background-color: #4caf50;
}
.border-theme {
    border: 1px solid #4caf50;
}

::-webkit-scrollbar {
    width: 0.9em;
}

::-webkit-scrollbar-track {
    background: var(--cui-body-bg, #fff);
    border-radius: 100vw;
    margin-block: 0.2em;
}

::-webkit-scrollbar-thumb {
    background: #999;
    border: 0.2em solid var(--cui-body-bg, #fff);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #444;
}

.dark-theme::-webkit-scrollbar-thumb {
    background: #444;
}

.dark-theme::-webkit-scrollbar-thumb:hover {
    background: #999;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family) !important;
}

.font_roboto {
    font-family: var(--font-roboto) !important;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

li {
    list-style-type: none;
}
.div_ul_init {
    ul {
        li {
            list-style-type: initial !important;
        }
    }
}

.ul_no_margin_bot {
    ul {
        margin-bottom: 0;
    }
}

button,
input[type='submit'] {
    user-select: none;
}

.f-spaceb {
    display: flex;
    justify-content: space-between;
}

.f-spaceb-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f-center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.color-disabled {
    color: var(--disabled-color);
}

img {
    vertical-align: unset !important;
}

.logo_number_orange {
    position: absolute;
    background-color: var(--active-font);
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 500;
    min-width: 20px;
    padding: 2px 0;
    right: -5px;
    top: -1px;
    text-align: center;
}

.logo_number_red {
    position: absolute;
    background-color: rgb(247, 66, 66);
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 500;
    min-width: 20px;
    padding: 2px 0;
    right: 13px;
    top: -10px;
    text-align: center;
}

.hover_boxShadow:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    z-index: 1;
}


.register {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}
.chat-box {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    margin: 40px 50px;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.member-list {
    width: 20%;
}

.chat-content {
    width: 80%;
    margin-left: 10px;
}

.chat-messages {
    height: 80%;
    border: 1px solid #000;
}

.send-message {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.input-message {
    width: 90%;
    border-radius: 50px;
}

.send-button {
    width: 10%;
    border-radius: 50px;
    margin-left: 5px;
    cursor: pointer;
}
.member {
    padding: 10px;
    background: #eee;
    border: #000;
    cursor: pointer;
    margin: 5px 2px;
    box-shadow: 0 8px 8px -4px lightblue;
}
.member.active {
    background: blueviolet;
    color: #fff;
}
.member:hover {
    background: grey;
    color: #fff;
}

.avatar {
    background-color: cornflowerblue;
    padding: 3px 5px;
    border-radius: 5px;
    color: #fff;
}
.avatar.self {
    color: #000;
    background-color: greenyellow;
}
.message {
    padding: 5px;
    width: auto;
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 5px 10px;
}
.message-data {
    padding: 5px;
}
.message.self {
    justify-content: end;
}
