.wrapper {

}

.right_header {
    color: #fff;
}

.avatar {
    img {
        width: 30px;
        border-radius: 50%;
    }
}

.drop_down_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    background: rgb(233, 240, 250);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;

    .drop_down_content {
        overflow: hidden;
        * {
            &:hover {
                background: rgba(104, 153, 222, 0.5);
                color: rgb(94, 71, 51);
                overflow: hidden;
            }
            text-align: center;
            width: 150px;
            padding: 10px 0;
            overflow: hidden;
        }
        .block {
            display: block;
        }
    }
}

.message_logo {
   position: relative;
   cursor: pointer;
   user-select: none;
}
.message_popup {
    position: absolute;
    width: 400px;
    height: 500px;
    background-color: rgb(250, 247, 247);
    border-radius: 8px;
    right: -30px;
    top: 45px;
    z-index: 4;
}
.message_popup.none{
    display: none;
}

.item-mess{
    &:hover{
        background-color: rgba(104, 153, 222, 0.5);
    }
}

.text-side{
    h5 {
        margin-top: 5px;
        margin-bottom: 0;
    }
    h6{
        margin-bottom: 0;
    }
}